<div class="form-group">
  <label for="name">name</label>
  <input required type="text" name="name" id="name" class="form-control">
  <label for="email">email</label>
  <input required type="text" name="email" id="email" class="form-control">
  <label for="password">password</label>
  <input required type="text" name="password" id="password" class="form-control">
</div>
<button type="submit" class="btn btn-primary">Create</button>